In [1]:
import pandas as pd

In [2]:
# load all the dataset
df_20161101 =  pd.read_csv('Rx_BenefitPlan_20161101.csv', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20161108 =  pd.read_csv('Rx_BenefitPlan_20161108.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20161116 =  pd.read_csv('Rx_BenefitPlan_20161116.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20161122 =  pd.read_csv('Rx_BenefitPlan_20161122.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20161129 =  pd.read_csv('Rx_BenefitPlan_20161129.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20161206 =  pd.read_csv('Rx_BenefitPlan_20161206.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'], low_memory=False)

df_20170110 =  pd.read_csv('Rx_BenefitPlan_20170110.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170116 =  pd.read_csv('Rx_BenefitPlan_20170116.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170117 =  pd.read_csv('Rx_BenefitPlan_20170117.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170124 =  pd.read_csv('Rx_BenefitPlan_20170124.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170131 =  pd.read_csv('Rx_BenefitPlan_20170131.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170207 =  pd.read_csv('Rx_BenefitPlan_20170207.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170214 =  pd.read_csv('Rx_BenefitPlan_20170214.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170221 =  pd.read_csv('Rx_BenefitPlan_20170221.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'])

df_20170301 =  pd.read_csv('Rx_BenefitPlan_20170301.csv', sep = '|', usecols=['PharmacyNumber','PharmacyTaxId', 'PharmacyNPI', 'PharmacyName',
    'PharmacyStreetAddress1', 'PharmacyStreetAddress2', 'PharmacyCity',
    'PharmacyState', 'PharmacyZip', 'MailOrderPharmacy'], low_memory=False)

In [3]:
# concate all the files together
df_20161101_to_20170301 = pd.concat([df_20161101, df_20161108, df_20161116, df_20161122, df_20161129,
                                     df_20161206, df_20170110, df_20170116, df_20170117, df_20170124, 
                                     df_20170131, df_20170207, df_20170214, df_20170221, df_20170301])

In [4]:
# take a look the dataset
df_20161101_to_20170301.head()

,PharmacyNumber,PharmacyTaxId,PharmacyNPI,PharmacyName,PharmacyStreetAddress1,PharmacyStreetAddress2,PharmacyCity,PharmacyState,PharmacyZip,MailOrderPharmacy
0,NaN,2.31614e+08,3.00486e+06,RITE AID PHARMACY 03310 ...,59 ROCKINGHAM ST ...,NaN,DERRY ...,NH,03038-2119,N
1,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD ...,NaN,MANCHESTER ...,NH,03104-0000,N
2,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD ...,NaN,MANCHESTER ...,NH,03104-0000,N
3,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD ...,NaN,MANCHESTER ...,NH,03104-0000,N
4,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD ...,NaN,MANCHESTER ...,NH,03104-0000,N

In [5]:
# remove special characters at the end of address
df_20161101_to_20170301['PharmacyStreetAddress1'] = df_20161101_to_20170301['PharmacyStreetAddress1'].str.replace('[^ a-zA-Z0-9_]', '')

In [6]:
df_20161101_to_20170301['PharmacyStreetAddress1'].head(10)

0    59 ROCKINGHAM ST                              ...
1    718 SMYTH RD                                  ...
2    718 SMYTH RD                                  ...
3    718 SMYTH RD                                  ...
4    718 SMYTH RD                                  ...
5    718 SMYTH RD                                  ...
6    288 SANDOWN RD                                ...
7    288 SANDOWN RD                                ...
8    20 CRYSTAL AVENUE                             ...
9    8350 S RIVER PKWY                             ...
Name: PharmacyStreetAddress1, dtype: object

In [7]:
# remove the whitespace 
df_20161101_to_20170301['PharmacyStreetAddress1'] = df_20161101_to_20170301['PharmacyStreetAddress1'].str.rstrip()

In [8]:
# check
df_20161101_to_20170301['PharmacyStreetAddress1'].head(10)

0     59 ROCKINGHAM ST
1         718 SMYTH RD
2         718 SMYTH RD
3         718 SMYTH RD
4         718 SMYTH RD
5         718 SMYTH RD
6       288 SANDOWN RD
7       288 SANDOWN RD
8    20 CRYSTAL AVENUE
9    8350 S RIVER PKWY
Name: PharmacyStreetAddress1, dtype: object

In [9]:
# replace the full name to the abbrevations

df_20161101_to_20170301['PharmacyStreetAddress1'].replace('AVENUE', 'AVE', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('BOULEVARD', 'BLVD', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('ROAD', 'RD', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('TRACE', 'TRAC', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('HIGHWAY', 'HWY', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('STREET', 'ST', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('PARKWAY', 'PKWY', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('TRAIL', 'TRL', regex = True, inplace = True)
df_20161101_to_20170301['PharmacyStreetAddress1'].replace('PLAZA', 'PLZ', regex = True, inplace = True)

In [10]:
# check
df_20161101_to_20170301['PharmacyStreetAddress1'].head(10)

0     59 ROCKINGHAM ST
1         718 SMYTH RD
2         718 SMYTH RD
3         718 SMYTH RD
4         718 SMYTH RD
5         718 SMYTH RD
6       288 SANDOWN RD
7       288 SANDOWN RD
8       20 CRYSTAL AVE
9    8350 S RIVER PKWY
Name: PharmacyStreetAddress1, dtype: object

In [11]:
# remove the zip-code after '-' only contains 5 digits
df_20161101_to_20170301['PharmacyZip'] = df_20161101_to_20170301['PharmacyZip'].str.split('-').str[0]

In [12]:
# check head
df_20161101_to_20170301['PharmacyZip'].head()

0    03038
1    03104
2    03104
3    03104
4    03104
Name: PharmacyZip, dtype: object

In [13]:
# check tail
df_20161101_to_20170301['PharmacyZip'].tail()

4224960    334112511
4224961    334613021
4224962    334613021
4224963    334613021
4224964    334613021
Name: PharmacyZip, dtype: object

In [14]:
# remove the zip-code only take first 5 digits
df_20161101_to_20170301['PharmacyZip'] = df_20161101_to_20170301['PharmacyZip'].str[:5]

In [15]:
# check
df_20161101_to_20170301['PharmacyZip'].tail()

4224960    33411
4224961    33461
4224962    33461
4224963    33461
4224964    33461
Name: PharmacyZip, dtype: object

In [16]:
# add leading 0 to zipcode only contains 4 digits
df_20161101_to_20170301['PharmacyZip'] = map(lambda x: x.zfill(5), df_20161101_to_20170301['PharmacyZip'])

In [17]:
# check how many different types of mail order we do have
df_20161101_to_20170301['MailOrderPharmacy'].unique()

array(['N', 'Y', '3', 3, '01', nan, '06', '08', '05', 'U'], dtype=object)

In [18]:
# keep the rows only has N and nan values fo MailOrderPharmacy
df_20161101_to_20170301 = df_20161101_to_20170301[(df_20161101_to_20170301['MailOrderPharmacy'] != 3) &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != 'Y') &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != '3') &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != '01') &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != '06') &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != '08') &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != '05') &
                                                  (df_20161101_to_20170301['MailOrderPharmacy'] != 'U')]

In [19]:
# check
df_20161101_to_20170301['MailOrderPharmacy'].unique()

array(['N', nan], dtype=object)

In [20]:
# then drop the duplicates from those five columns 
# 'PharmacyNumber', 'PharmacyNPI', 'PharmacyTaxID','PharmacyName', 'PharmacyStreetAddress1'

df_20161101_to_20170301 = df_20161101_to_20170301.drop_duplicates(subset=['PharmacyNumber', 'PharmacyNPI', 'PharmacyTaxID','PharmacyName', 'PharmacyStreetAddress1'])

In [21]:
df_20161101_to_20170301.head()

,PharmacyNumber,PharmacyTaxId,PharmacyNPI,PharmacyName,PharmacyStreetAddress1,PharmacyStreetAddress2,PharmacyCity,PharmacyState,PharmacyZip,MailOrderPharmacy
0,NaN,2.31614e+08,3.00486e+06,RITE AID PHARMACY 03310 ...,59 ROCKINGHAM ST,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N
1,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD,NaN,MANCHESTER ...,NH,<map object at 0x0000017737003358>,N
6,NaN,3.61924e+08,3.06087e+06,WALGREENS ...,288 SANDOWN RD,NaN,HAMPSTEAD ...,NH,<map object at 0x0000017737003358>,N
8,NaN,4.29609e+07,3.00666e+06,RITE AID PHARMACY 10264 ...,20 CRYSTAL AVE,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N
10,NaN,3.61924e+08,3.06088e+06,WALGREENS ...,17 CRYSTAL AVE,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N

In [22]:
# reset the index counter after drop NaN
df_clean_20161101_to_20170301 = df_20161101_to_20170301.reset_index(drop=True)

In [23]:
df_clean_20161101_to_20170301.head()

,PharmacyNumber,PharmacyTaxId,PharmacyNPI,PharmacyName,PharmacyStreetAddress1,PharmacyStreetAddress2,PharmacyCity,PharmacyState,PharmacyZip,MailOrderPharmacy
0,NaN,2.31614e+08,3.00486e+06,RITE AID PHARMACY 03310 ...,59 ROCKINGHAM ST,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N
1,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD,NaN,MANCHESTER ...,NH,<map object at 0x0000017737003358>,N
2,NaN,3.61924e+08,3.06087e+06,WALGREENS ...,288 SANDOWN RD,NaN,HAMPSTEAD ...,NH,<map object at 0x0000017737003358>,N
3,NaN,4.29609e+07,3.00666e+06,RITE AID PHARMACY 10264 ...,20 CRYSTAL AVE,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N
4,NaN,3.61924e+08,3.06088e+06,WALGREENS ...,17 CRYSTAL AVE,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N

In [24]:
df_clean_20161101_to_20170301.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38394 entries, 0 to 38393
Data columns (total 10 columns):
PharmacyNumber            36534 non-null object
PharmacyTaxId             35064 non-null object
PharmacyNPI               37547 non-null object
PharmacyName              37100 non-null object
PharmacyStreetAddress1    35058 non-null object
PharmacyStreetAddress2    8601 non-null object
PharmacyCity              35058 non-null object
PharmacyState             35064 non-null object
PharmacyZip               38394 non-null object
MailOrderPharmacy         38327 non-null object
dtypes: object(10)
memory usage: 2.9+ MB

In [25]:
# create a new column for a new index called 'PharmacyDashID'
df_clean_20161101_to_20170301.reset_index(inplace=True)
df_clean_20161101_to_20170301.rename(columns={'index': 'PharmacyDashID'}, inplace=True)

In [26]:
df_clean_20161101_to_20170301.head()

,PharmacyDashID,PharmacyNumber,PharmacyTaxId,PharmacyNPI,PharmacyName,PharmacyStreetAddress1,PharmacyStreetAddress2,PharmacyCity,PharmacyState,PharmacyZip,MailOrderPharmacy
0,0,NaN,2.31614e+08,3.00486e+06,RITE AID PHARMACY 03310 ...,59 ROCKINGHAM ST,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N
1,1,NaN,2.02229e+07,3.00526e+06,MANCHESTER VAMC PHARMACY ...,718 SMYTH RD,NaN,MANCHESTER ...,NH,<map object at 0x0000017737003358>,N
2,2,NaN,3.61924e+08,3.06087e+06,WALGREENS ...,288 SANDOWN RD,NaN,HAMPSTEAD ...,NH,<map object at 0x0000017737003358>,N
3,3,NaN,4.29609e+07,3.00666e+06,RITE AID PHARMACY 10264 ...,20 CRYSTAL AVE,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N
4,4,NaN,3.61924e+08,3.06088e+06,WALGREENS ...,17 CRYSTAL AVE,NaN,DERRY ...,NH,<map object at 0x0000017737003358>,N

In [27]:
# save to the new CSV file
df_clean_20161101_to_20170301.to_csv('Rx Claim Pharmacy Info.csv', index = False)